Repository sstults/solr-optimizer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainer, @devops-team, @core-team, @agents-team, @qa-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# They will be requested for review when someone opens a pull request.
*       @project-maintainer

# CI/CD workflow files ownership
/.github/workflows/   @devops-team

# Core framework code ownership
/solr_optimizer/core/  @core-team
/solr_optimizer/models/  @core-team

# Agent implementations ownership
/solr_optimizer/agents/  @agents-team

# Test ownership
/tests/  @qa-team

Update .gitignore to exclude Gradle files
  .gitignore
Owners: @project-maintainer

Apply Black formatting to example files
  examples/experiment_workflow_demo.py
  examples/simple_demo.py
Owners: @project-maintainer

Remove Python 3.8 from CI test matrix to match >=3.9 requirement in pyproject.toml
  .github/workflows/ci.yml
Owners: @devops-team

Improve code formatting and style across project files
  solr_optimizer/agents/comparison/__init__.py
  solr_optimizer/agents/comparison/comparison_agent.py
  solr_optimizer/agents/comparison/standard_comparison_agent.py
  solr_optimizer/agents/logging/__init__.py
  solr_optimizer/agents/logging/file_based_logging_agent.py
  solr_optimizer/agents/logging/logging_agent.py
  solr_optimizer/agents/metrics/metrics_agent.py
  solr_optimizer/agents/metrics/standard_metrics_agent.py
  solr_optimizer/agents/query/query_tuning_agent.py
  solr_optimizer/agents/solr/pysolr_execution_agent.py
  solr_optimizer/agents/solr/solr_execution_agent.py
  solr_optimizer/cli/__init__.py
  solr_optimizer/cli/main.py
  solr_optimizer/core/default_experiment_manager.py
  solr_optimizer/core/experiment_manager.py
  solr_optimizer/models/experiment_config.py
  solr_optimizer/models/iteration_result.py
  solr_optimizer/models/query_config.py
  tests/unit/test_metrics_agent.py
  tests/unit/test_models.py
Owners: @agents-team, @project-maintainer, @core-team, @qa-team

Fix Black formatting issues and add .gitattributes for consistent line endings
  .gitattributes
  solr_optimizer/__init__.py
Owners: @project-maintainer

Fix import sorting with isort
  solr_optimizer/__main__.py
  solr_optimizer/agents/comparison/comparison_agent.py
  solr_optimizer/agents/comparison/standard_comparison_agent.py
  solr_optimizer/agents/logging/__init__.py
  solr_optimizer/agents/logging/file_based_logging_agent.py
  solr_optimizer/agents/logging/logging_agent.py
  solr_optimizer/agents/metrics/metrics_agent.py
  solr_optimizer/agents/metrics/standard_metrics_agent.py
  solr_optimizer/agents/query/query_tuning_agent.py
  solr_optimizer/agents/solr/pysolr_execution_agent.py
  solr_optimizer/agents/solr/solr_execution_agent.py
  solr_optimizer/cli/main.py
  solr_optimizer/core/default_experiment_manager.py
  solr_optimizer/core/experiment_manager.py
  solr_optimizer/models/iteration_result.py
  solr_optimizer/models/query_config.py
  tests/unit/test_metrics_agent.py
  tests/unit/test_models.py
Owners: @project-maintainer, @agents-team, @core-team, @qa-team

Formatting changes and code cleanup for flake8
  solr_optimizer/__init__.py
  solr_optimizer/__main__.py
  solr_optimizer/agents/comparison/__init__.py
  solr_optimizer/agents/comparison/comparison_agent.py
  solr_optimizer/agents/comparison/standard_comparison_agent.py
  solr_optimizer/agents/logging/__init__.py
  solr_optimizer/agents/logging/file_based_logging_agent.py
  solr_optimizer/agents/logging/logging_agent.py
  solr_optimizer/agents/metrics/metrics_agent.py
  solr_optimizer/agents/metrics/standard_metrics_agent.py
  solr_optimizer/agents/query/query_tuning_agent.py
  solr_optimizer/agents/solr/pysolr_execution_agent.py
  solr_optimizer/agents/solr/solr_execution_agent.py
  solr_optimizer/cli/__init__.py
  solr_optimizer/cli/main.py
  solr_optimizer/core/default_experiment_manager.py
  solr_optimizer/core/experiment_manager.py
  solr_optimizer/models/experiment_config.py
  solr_optimizer/models/iteration_result.py
  solr_optimizer/models/query_config.py
  tests/unit/test_metrics_agent.py
  tests/unit/test_models.py
Owners: @project-maintainer, @agents-team, @core-team, @qa-team

More reformatting with Black, and making it override flake8 in line length
  pyproject.toml
  solr_optimizer/agents/comparison/standard_comparison_agent.py
  solr_optimizer/agents/logging/__init__.py
  solr_optimizer/agents/logging/file_based_logging_agent.py
  solr_optimizer/agents/logging/logging_agent.py
  solr_optimizer/agents/metrics/standard_metrics_agent.py
  solr_optimizer/agents/solr/pysolr_execution_agent.py
  solr_optimizer/cli/main.py
  solr_optimizer/core/default_experiment_manager.py
  solr_optimizer/core/experiment_manager.py
  solr_optimizer/models/experiment_config.py
  solr_optimizer/models/iteration_result.py
  solr_optimizer/models/query_config.py
  tests/unit/test_metrics_agent.py
  tests/unit/test_models.py
Owners: @project-maintainer, @agents-team, @core-team, @qa-team

Extend the allowed line length to 120
  pyproject.toml
Owners: @project-maintainer

Yay more formatting
  examples/experiment_workflow_demo.py
  examples/simple_demo.py
  pyproject.toml
  solr_optimizer/agents/comparison/comparison_agent.py
  solr_optimizer/agents/comparison/standard_comparison_agent.py
  solr_optimizer/agents/logging/file_based_logging_agent.py
  solr_optimizer/agents/logging/logging_agent.py
  solr_optimizer/agents/metrics/standard_metrics_agent.py
  solr_optimizer/agents/query/dummy_query_tuning_agent.py
  solr_optimizer/agents/solr/pysolr_execution_agent.py
  solr_optimizer/agents/solr/solr_execution_agent.py
  solr_optimizer/cli/main.py
  solr_optimizer/core/default_experiment_manager.py
  solr_optimizer/core/experiment_manager.py
  solr_optimizer/models/experiment_config.py
  solr_optimizer/models/iteration_result.py
  solr_optimizer/models/query_config.py
  tests/unit/test_comparison_agent.py
  tests/unit/test_metrics_agent.py
Owners: @project-maintainer, @agents-team, @core-team, @qa-team

Fixing type errors
  solr_optimizer/agents/logging/file_based_logging_agent.py
  solr_optimizer/agents/metrics/standard_metrics_agent.py
  solr_optimizer/agents/query/dummy_query_tuning_agent.py
  solr_optimizer/agents/solr/pysolr_execution_agent.py
  solr_optimizer/cli/main.py
  solr_optimizer/core/default_experiment_manager.py
  solr_optimizer/core/experiment_manager.py
Owners: @agents-team, @project-maintainer, @core-team

Add comprehensive test suite and enhance core functionality
  PHASE2_SUMMARY.md
  PLAN.md
  examples/experiment_workflow_demo.py
  experiment_storage/index.json
  solr_optimizer/agents/comparison/standard_comparison_agent.py
  solr_optimizer/agents/logging/file_based_logging_agent.py
  solr_optimizer/agents/query/dummy_query_tuning_agent.py
  solr_optimizer/agents/solr/pysolr_execution_agent.py
  solr_optimizer/cli/main.py
  solr_optimizer/core/default_experiment_manager.py
  tests/unit/test_cli.py
  tests/unit/test_dummy_query_tuning_agent.py
  tests/unit/test_experiment_manager.py
  tests/unit/test_file_based_logging_agent.py
  tests/unit/test_iteration_result.py
  tests/unit/test_pysolr_execution_agent.py
  tests/unit/test_standard_comparison_agent.py
Owners: @project-maintainer, @agents-team, @core-team, @qa-team

Phase 3: AI-powered optimization system complete
  ARCHITECTURE.md
  PHASE3_SUMMARY.md
  PLAN.md
  README.md
  pyproject.toml
  solr_optimizer/agents/ai/__init__.py
  solr_optimizer/agents/ai/analysis_chain_agent.py
  solr_optimizer/agents/ai/base_ai_agent.py
  solr_optimizer/agents/ai/learning_to_rank_agent.py
  solr_optimizer/agents/ai/orchestrator.py
  solr_optimizer/agents/ai/parameter_tuning_agent.py
  solr_optimizer/agents/ai/query_rewriting_agent.py
  solr_optimizer/agents/ai/schema_analysis_agent.py
Owners: @project-maintainer, @agents-team

Complete Phase 4: Data Models and Storage System
  PHASE4_SUMMARY.md
  PLAN.md
  solr_optimizer/models/__init__.py
  solr_optimizer/models/corpus_config.py
  solr_optimizer/persistence/__init__.py
  solr_optimizer/persistence/database_service.py
  solr_optimizer/persistence/persistence_interface.py
  solr_optimizer/services/__init__.py
  solr_optimizer/services/reference_service.py
  solr_optimizer/utils/__init__.py
  solr_optimizer/utils/judgment_utils.py
Owners: @project-maintainer, @core-team

Fix failing database service tests - PostgreSQL psycopg2 availability check
  solr_optimizer/models/iteration_result.py
  solr_optimizer/persistence/database_service.py
  tests/unit/test_corpus_config.py
  tests/unit/test_database_service.py
  tests/unit/test_judgment_utils.py
  tests/unit/test_reference_service.py
Owners: @core-team, @project-maintainer, @qa-team

Fix linting errors in test_dummy_query_tuning_agent.py
  tests/unit/test_dummy_query_tuning_agent.py
Owners: @qa-team

Fix psycopg2 import warnings and connection logic
  solr_optimizer/persistence/database_service.py
Owners: @project-maintainer

Fix AI CLI integration tests
  tests/integration/test_ai_cli_integration.py
Owners: @qa-team

Update PLAN.md to reflect Phase 5 completion
  PLAN.md
Owners: @project-maintainer

feat: Complete demo implementation with Docker setup and simulation
  demo/README.md
  demo/data/dataset_summary.json
  demo/data/judgments/judgments.csv
  demo/data/judgments/judgments.trec
  demo/data/processed/queries.csv
  demo/docker-setup/docker-compose.yml
  demo/docker-setup/setup.sh
  demo/docker-setup/solr-init/configsets/ecommerce/conf/schema.xml
  demo/docker-setup/solr-init/configsets/ecommerce/conf/solrconfig.xml
  demo/docker-setup/solr-init/configsets/ecommerce/conf/stopwords.txt
  demo/docker-setup/solr-init/configsets/ecommerce/conf/synonyms.txt
  demo/docker-setup/teardown.sh
  demo/run_complete_demo.py
  demo/run_simulation_demo.py
  demo/scripts/download_data.py
  demo/scripts/load_data.py
  demo/validate_demo_setup.py
Owners: @project-maintainer

Complete Priority 2 demo robustness improvements
  demo/TODO.md
  demo/preflight_validation.py
  demo/run_enhanced_demo.py
  demo/scripts/load_data.py
Owners: @project-maintainer

feat: Complete Priority 1-3 demo improvements - schema config, robustness, and enhanced reporting
  demo/README.md
  demo/TODO.md
  demo/docker-setup/solr-init/configsets/ecommerce/conf/schema.xml
  demo/docker-setup/solr-init/configsets/ecommerce/conf/solrconfig.xml
  demo/enhanced_reporting.py
  demo/run_demo_with_enhanced_reporting.py
  demo/run_enhanced_demo.py
  demo/test_schema_config.py
Owners: @project-maintainer

Complete Priority 4 Configuration Debugging tasks
  demo/TODO.md
  demo/debug_mode.py
  demo/run_demo_with_debug.py
  demo/schema_validation.py
  demo/scripts/load_data.py
  demo/troubleshooting_guide.md
Owners: @project-maintainer
